@media (min-width: 0px) and (max-width: 575.98px),
  (min-width: 576px) and (max-width: 991.98px) {
  .each-team-card-container {
    border: 1px solid #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #ffffff33;
    width: 150px;
    height: 100px;
  }

  .team-logo {
    width: 35px;
  }
  .team-name {
    color: #ffffff;
    font-family: 'Bree Serif';
    font-size: 16px;
    text-align: center;
    margin-left: 10px;
  }
}
